@{ViewBag.Title = "Account list";}
@model IEnumerable<eLiteratureHaven.Models.users>

@using (Html.BeginForm("Add_user", "Admin"))
{
    @Html.AntiForgeryToken()
    <input type="submit" class="btn btn-primary" value="Add a account" style="margin-top : 20px; margin-bottom : 20px" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.full_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.id)
            </td>
            <td>
                @Html.DisplayFor(model => item.username)
            </td>
            <td>
                @Html.DisplayFor(model => item.email)
            </td>
            <td>
                @Html.DisplayFor(model => item.role)
            </td>
            <td>
                @Html.DisplayFor(model => item.full_name)
            </td>
            <td>
                @Html.DisplayFor(model => item.phone_number)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit_user", new { id = item.id })
            </td>

        </tr>
    }
</table>
