@{ViewBag.Title = "Account list";}
@model IEnumerable<eLiteratureHaven.Models.users>

<h4 style="margin:20px 0 0">Account List</h4>
<h5 style="margin:0 0 20px">sorted by id</h5>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.full_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.id)
            </td>
            <td>
                @Html.DisplayFor(model => item.username)
            </td>
            <td>
                @Html.DisplayFor(model => item.email)
            </td>
            <td>
                @Html.DisplayFor(model => item.role)
            </td>
            <td>
                @Html.DisplayFor(model => item.full_name)
            </td>
            <td>
                @Html.DisplayFor(model => item.phone_number)
            </td>

        </tr>
    }
</table>
