<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eLiteratureHaven</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("eLiteratureHaven", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Home", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    <!--admin only-->
                    @if (Session["username"] != null)
                    {
                        if (Session["role"].ToString() == "admin")
                        {
                            <li>@Html.ActionLink("Book List", "Admin_books", "Admin")</li>
                            <li>@Html.ActionLink("Account List", "Admin_users", "Admin")</li>
                            <li>@Html.ActionLink("Transaction List", "Admin_transactions", "Admin")</li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            </button>
                            <ul class="dropdown-menu">
                                @if (Session["username"] != null)
                                {
                                    <li>
                                        <a href="@Url.Action("User_page", "Home")">Your Profile</a>
                                    </li>
                                    <li>
                                        <a>Your Books</a>
                                    </li>
                                }
                                <li>
                                    <a href="@Url.Action("Category", "Home")">Categories</a>
                                </li>
                                <li>
                                    <a>About & Contact</a>
                                </li>
                                @if (Session["username"] != null)
                                {
                                    <li>
                                        <a href="@Url.Action("Logout", "Home")">Log out</a>
                                    </li>
                                }
                                @if (Session["username"] == null)
                                {
                                    <li>
                                        <a href="@Url.Action("Login", "Home")">Login or Register</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - eLiteratureHaven</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
