@{ViewBag.Title = "Book";}
@model eLiteratureHaven.Models.books

<script type="module">import pdfjsDist from 'https://cdn.jsdelivr.net/npm/pdfjs-dist@4.0.269/+esm'</script>
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" media="screen" runat="server" />

<div class="detail-grid-container">
    <div class="item1"><img src="~/Content/Cover_images/@Url.Content(Model.image_path)" style="max-width:100%;max-height:100%;" /></div>
    <div class="item2" style="padding-left:50px">
        @Model.title<br />
        Author: @Model.author<br />
        Published year: @Model.publication_year<br />
        Category: @Model.category<br />
        Genre: @Model.genre<br />

        @if (Session["username"] == null)
        {<text>Login to rent</text>}
        @if (Session["username"] != null)
        {<a href="@Url.Action("PDF_viewer", "Home", new { id = Model.id })">Read</a>
        }
    </div>
</div>
<div style="font-size: 20px;">
    @Model.description
</div>