@{ViewBag.Title = "Book detail";}
@model eLiteratureHaven.Models.book_transaction_viewmodel

<script type="module">import pdfjsDist from 'https://cdn.jsdelivr.net/npm/pdfjs-dist@4.0.269/+esm'</script>
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" media="screen" runat="server" />




<div class="detail-grid-container">
    <div class="item1"><img src="~/Content/Cover_images/@Url.Content(Model.books.image_path)" style="max-width:100%;max-height:100%;" /></div>
    <div class="item2" style="padding-left:50px">
        <h3>@Model.books.title</h3><br />
        <label style="display:inline-block; width:150px;">Author</label>:&nbsp;&nbsp;@Model.books.author<br />
        <label style="display:inline-block; width:150px;">Published year</label>:&nbsp;&nbsp;@Model.books.publication_year<br />
        <label style="display:inline-block; width:150px;">Category</label>:&nbsp;&nbsp;@Model.books.category<br />
        <label style="display:inline-block; width:150px;">Genre</label>:&nbsp;&nbsp;@Model.books.genre<br />

        @if (Session["username"] == null)
        {
            <br /><text>Login to rent</text>
        }

        @if (Session["username"] != null)
        {

            string idString = (string)Session["id"];
            int userId = Int32.Parse(idString);
            int bookId = Model.books.id;

            if (ViewBag.TransactionStatus == "rented")
            {
                <br /><button href="@Url.Action("PDF_viewer", "Home", new { id = Model.books.id })">@ViewBag.ButtonText</button>
            }
            else if (ViewBag.TransactionStatus == "processing" || ViewBag.TransactionStatus == "pending")
            {
                <br /><button type="button" disabled>@ViewBag.ButtonText</button>
            }
            else if (ViewBag.TransactionStatus == null || ViewBag.TransactionStatus == "cancelled" || ViewBag.TransactionStatus == "due")
            {
                using (Html.BeginForm("Payment_page", "Home", FormMethod.Post))
                {
                    @Html.Hidden("userId", userId)
                    @Html.Hidden("bookId", bookId)
                    <br /><button type="submit" value="rent_book">Rent Book</button>
                }
            }
        }
    </div>
</div>
<div style="font-size: 20px;">
    @Model.books.description
</div>