@model IEnumerable<eLiteratureHaven.Models.books>

<!DOCTYPE html>

@if (Model != null && Model.Any())
{
<table class="table">
    <tr>
        <th>
            Book Cover
        </th>
        <th>
            Book Title
        </th>
        <th>
            Author
        </th>
        <th>
            Published Year
        </th>
        @foreach (var filteredBooks in Model)
        {
        <tr>
            <td>
                <a href="@Url.Action("Book_details", "Home", new { id = filteredBooks.id })">
                    <img src="/Content/Cover_images/@Url.Content(filteredBooks.image_path)" style="max-height:200px;" />
                </a>
            </td>
            <td>
                <a href="@Url.Action("Book_details", "Home", new { id = filteredBooks.id })">
                    @filteredBooks.title
                </a>
            </td>
            <td>
                <a href="@Url.Action("Book_details", "Home", new { id = filteredBooks.id })">
                    @filteredBooks.author
                </a>
            </td>
            <td>
                <a href="@Url.Action("Book_details", "Home", new { id = filteredBooks.id })">
                    @filteredBooks.publication_year
                </a>
            </td>
        </tr>
    }
    </table>
}
else
{ 
    <h1>Book not found</h1>  
}

