@model eLiteratureHaven.Models.users

@{ Layout = null;}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<title>Register</title>

@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
    <body style="background-color: lightblue;">
        <fieldset>
            <div style="left:50%; top:50%; transform: translate(-50%, -50%);box-shadow: 5px 10px #888888; border-radius: 25px; position:absolute; padding: 20px; background-color: white;">
                <h3 style="text-align: center; margin: -5px">Register</h3>
                <hr />
                @Html.AntiForgeryToken()
                @Html.Raw(TempData["msg"])
                @if (@ViewBag.Message != null)
                {
                    <div style="border: 1px solid red">
                        @ViewBag.Message
                    </div>
                }
                <table style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <td>@Html.LabelFor(a => a.Username)</td>
                        <td>@Html.TextBoxFor(a => a.Username)</td>
                        <td>@Html.ValidationMessageFor(a => a.Username, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(a => a.Email)</td>
                        <td>@Html.TextBoxFor(a => a.Email)</td>
                        <td>@Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(a => a.Full_name)</td>
                        <td>@Html.TextBoxFor(a => a.Full_name)</td>
                        <td>@Html.ValidationMessageFor(a => a.Full_name, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(a => a.Phone_number)</td>
                        <td>@Html.TextBoxFor(a => a.Phone_number)</td>
                        <td>@Html.ValidationMessageFor(a => a.Phone_number, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(a => a.Password)
                        </td>
                        <td>
                            @Html.PasswordFor(a => a.Password)
                        </td>
                        <td>@Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(a => a.ConfirmPassword)
                        </td>
                        <td>
                            @Html.PasswordFor(a => a.ConfirmPassword)
                        </td>
                        <td>@Html.ValidationMessageFor(a => a.ConfirmPassword, "", new { @class = "text-danger" })</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td style="padding-top : 20px">
                            <input type="submit" value="Register" a />
                            <a href="@Url.Action("Login", "Home")" class="elements">
                                <span>Login</span>
                            </a>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </body>
}


