@model eLiteratureHaven.Models.users

@{ Layout = null;}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<title>Register</title>

@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
    <body style="background-color: #989898;">
        <fieldset>
            <div style="left:50%; top:50%; transform: translate(-50%, -50%);box-shadow: 5px 10px #888888; border-radius: 25px; position:absolute; padding: 20px; background-color: #212121; color:white">
                <h3 style="text-align: center; margin: -5px">Register</h3>
                <hr />
                @Html.AntiForgeryToken()
                @Html.Raw(TempData["msg"])
                @if (@ViewBag.Message != null)
                {
                    <div style="border: 1px solid red">
                        @ViewBag.Message
                    </div>
                }
                    <table style="margin-left: auto; margin-right: auto; color:white">
                        <tr>
                            <td>@Html.LabelFor(a => a.username)</td>
                            <td>@Html.TextBoxFor(a => a.username)</td>
                            <td>@Html.ValidationMessageFor(a => a.username, "", new { @class = "text-danger" })</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(a => a.email)</td>
                            <td>@Html.TextBoxFor(a => a.email)</td>
                            <td>@Html.ValidationMessageFor(a => a.email, "", new { @class = "text-danger" })</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(a => a.full_name)</td>
                            <td>@Html.TextBoxFor(a => a.full_name)</td>
                            <td>@Html.ValidationMessageFor(a => a.full_name, "", new { @class = "text-danger" })</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(a => a.phone_number)</td>
                            <td>@Html.TextBoxFor(a => a.phone_number)</td>
                            <td>@Html.ValidationMessageFor(a => a.phone_number, "", new { @class = "text-danger" })</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(a => a.password)
                            </td>
                            <td>
                                @Html.PasswordFor(a => a.password)
                            </td>
                            <td>@Html.ValidationMessageFor(a => a.password, "", new { @class = "text-danger" })</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(a => a.ConfirmPassword)&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td>
                                @Html.PasswordFor(a => a.ConfirmPassword)
                            </td>
                            <td>@Html.ValidationMessageFor(a => a.ConfirmPassword, "", new { @class = "text-danger" })</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td style="padding-top : 20px">
                                <input type="submit" value="Register" a />&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="@Url.Action("Login", "Home")" class="elements">
                                    <span>Login</span>
                                </a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
            </div>
        </fieldset>
    </body>
}


